/*
  Kometa Unicase font - když budeš mít soubory, odkomentuj toto:

  @font-face {
    font-family: 'Kometa Unicase';
    src: url('/fonts/KometaUnicase-Hv.woff2') format('woff2'),
         url('/fonts/KometaUnicase-Hv.woff') format('woff'),
         url('/fonts/KometaUnicase-Hv.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
